//text colors
$primaryTextColor: #fff;
$secondTextColor: #000;

//gradient colors
$gradient1: #1C4862;
$gradient2: #6A3456;
$gradient3: #779755;
$gradient4: #191C35;
$gradient5: #191C35;

// buttons colors
$button1:#E50914;